<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Registration Form</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<!-- Custom JS -->
    <!-- ... -->
</head>
<body ng-controller="MainController as main" class="ng-cloak">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">{{ main.header }}</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{ 'active' : main.currentApp.link == app.link, 'none' : main.currentApp.link != app.link }" ng-repeat="app in main.apps" ng-if="app.link != 'butler'"><a ng-click="main.switchApp(app.link, main.apps)" ui-sref="{{ app.link }}">{{ app.name }} </a></li>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-if="main.user.authenticated">
                <li class="dropdown" ng-if="main.user.is_butler_admin">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="manageUsers({ selectedApp: 'butler' })" ><span class="glyphicon glyphicon-user"></span> Manage User Permissions</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" ng-if="main.user.authenticated">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ main.user.name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="item in main.userMenuItems">
                            <a href="{{ item.link }}" ><span class="glyphicon glyphicon-{{ item.suffix }}"></span> {{ item.name }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <div ng-show="main.currentAppUrls">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" ng-href="#{{ main.currentApp.link }}">{{ main.currentApp.name }} Links</a>
                            </h4>
                        </div>
                        <div id="{{ main.currentApp.link }}" class="panel-collapse">
                            <ul class="nav nav-pills nav-stacked">
                                <!-- If using appName/pageName routes: -->
                                <li role="presentation" ng-if="main.currentAppUrls.pages" ng-repeat="page in main.currentAppUrls.pages"><a ui-sref="{{ main.currentApp.link }}({ pageName: page.pageName })" class="list-group-item"">{{ page.title }}</a></li>
                                <!-- If using appName/categoryName/pageName routes: -->
                                <li role="presentation" class="dropdown" ng-repeat="(category, pages) in main.currentAppUrls.categories" ng-if="main.currentAppUrls.categories">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#{{ category }}" role="button" aria-haspopup="true" aria-expanded="false">
                                        {{ category | camelCaseFilter }} <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li role="presentation" ng-repeat="page in main.currentAppUrls.categories[category]"><a ui-sref="{{ main.currentApp.link }}({ pageName: page.pageName, categoryName: category })">{{ page.title }}</a></li>
                                    </ul>
                                </li>
                                <!-- Admin links for apps: -->
                                <li role="presentation" class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#admin" role="button" aria-haspopup="true" aria-expanded="false">
                                        {{ main.currentApp.name }} Admin <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li role="presentation"><a ui-sref="manageUsers({ selectedApp: main.currentApp.link })">Manage {{ main.currentApp.name }} Users</a></li>
                                        <li role="presentation" ng-hide="main.currentApp.link == 'incidentPortal'" ng-if="main.user.has_admin_permission"><a ui-sref="managePages({ selectedApp: main.currentApp.link })">Manage {{ main.currentApp.name }} Pages</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-10">
                <section ui-view></section>
            </div>
        </div>
    </div>

</html>
